{%extends 'layout.html'%}
{%block title%}
    Home Vaesen
{%endblock%}

{%block content%}
    <h1>
        Home page of app Vaesen
    </h1>
    <p>Check out About page above, if you want to know more.</p>
    <p>---</p>
    <h2>Plany usług wewnątrz konkretnej Kampanii:</h2>
    <h3>Dla graczy:</h3>

    <ul>
        <li>Tworzenie, edytowanie, podgląd karty postaci</li>
        <li>Dostęp do listy odbytych/planowanych sesji</li>
        <li>Podgląd i edytowanie opisów sesji</li>
        <li>Edytowanie inicjatywy i stanów podczas trwania sesji</li>
    </ul>
    <h3>Dla Mistrza Gry:</h3>
    <ul>
        <li>Dodawanie sesji do listy</li>
        <li>Dodawanie napotkanych NPC do listy, oznaczanie ich jako spotkanych dla widoczności graczy</li>
        <li>Dodawanie napotkanych stworzeń do bestiariusza, oznaczanie ich jako spotkanych dla widoczności graczy</li>
        <li>Podgląd inicjatywy i stanów postaci graczy uczestniczących w sesji</li>
        <li>Edytowanie kolejki inicjatywy podczas sesji</li>
    </ul>

    <h3>Uniwersalne:</h3>
    <ul>
        <li>Dostęp do skróconych zasad</li>
        <li>Ekran MG, inspiracja materiałami społeczności</li>
    </ul>

{%endblock%}

