<!DOCTYPE html>
{%extends 'layout.html'%}
{%block title%}
    Statblocks
{%endblock%}

{%block content%}
<section>
    <h1>
        Statblocks
    </h1>

    <form class="d-flex" method='POST' action="{% url 'statblocks:list'%}">
        {% csrf_token %}
        <input type="search" placeholder="Search words" name='searched_word'>
        <input type="search" placeholder="Search author" name='searched_author'>
        <button>Search</button>
    </form>
    {% if  searched_word %}
        <h1>Results for "{{searched_word}}"</h1>
    {% endif %}
    {% if  searched_author %}
        <h1>Made by "{{searched_author}}"</h1>
    {% endif %}
    

    {% for statblock in statblocks %}
    <article class="temp-statblock">
        <h2>
            <a href="{% url 'statblocks:page' slug=statblock.slug %}">
                {{statblock.name}}
            </a>
            <p> by {{statblock.author}} </p>
        </h2>
        <p>{{statblock.description}}</p>
    </article>
    {% endfor %}

</section>
{%endblock%}

