*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-size: 3rem;
    background-color: rgb(38, 33, 33);
    color: whitesmoke;

}

nav{
    padding: 1rem;
    background-color: maroon;
    color: whitesmoke;
    font-size: 2.5rem;
}

main{
    padding: 1rem;
}

section{
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

h1{
    font-size: 3rem;
}

p{
    font-size: 1rem;
}

h2{
    font-size: 1.5rem;
}

a{
    text-decoration: none;
    color: white;
}

a:hover {
    opacity: .80;
}